/*-----------------------------------------------------------------------
    Fonts
-----------------------------------------------------------------------*/

@import url("https://use.typekit.net/ptp7qkq.css");

/*-----------------------------------------------------------------------
    Variables
-----------------------------------------------------------------------*/

:root {
    --admin-height: 32px;
    --header-height: 100px;
    --notice-height: 0px;

    --font-primary: "proxima-nova", sans-serif;

    --white: #ffffff;
    --white-rgb: 255, 255, 255;

    --grey: #aaaaaa;
    --grey-rgb: 170, 170, 170;

    --black: #000000;
    --black-rgb: 0, 0, 0;

    --red: #ff1414;
    --red-rgb: 255, 20, 20;

    --border-radius-sm: 5px;
    --border-radius-md: 15px;
    --border-radius-lg: 30px;

    --container-xs: 620px;
    --container-sm: 820px;
    --container-md: 1040px;
    --container-lg: 1240px;

    --box-shadow: 0 0 5px rgba(var(--black-rgb), 10%);

    --transition: 0.25s ease;
}

/* Responsive */

@media (max-width: 782px) {
    :root {
        --admin-height: 46px;
    }
}

@media (max-width: 761px) {
    :root {
        --header-height: 70px;
    }
}

/*-----------------------------------------------------------------------
    Base
-----------------------------------------------------------------------*/

.betterbase-theme *,
.betterbase-theme *:before,
.betterbase-theme *:after {
    box-sizing: border-box;
}

.betterbase-theme * {
    scroll-margin-top: calc(var(--header-height));
}

body.betterbase-theme,
.editor-styles-wrapper {
    font-optical-sizing: auto;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: var(--black);
    font-family: var(--font-primary) !important;
    font-size: 16px !important;
    line-height: 1.5;
    font-weight: 400;
}

body.betterbase-theme,
.editor-styles-wrapper,
.site-responsive-menu,
.site-main {
    background: var(--white);
}

.site-main {
    position: relative;
    transition: var(--transition) all;
    z-index: 1;
}

/*-----------------------------------------------------------------------
    Admin Bar
-----------------------------------------------------------------------*/

body.betterbase-theme {
    padding-top: calc(var(--header-height) + var(--notice-height)) !important;
}

body.betterbase-theme.admin-bar {
    padding-top: calc(var(--header-height) + var(--notice-height) + var(--admin-height)) !important;
}

#wpadminbar {
    top: 0;
    position: fixed;
    z-index: 20000000000000001;
}

#wpadminbar ul li.admin-bar-search {
    display: none !important;
}

/*-----------------------------------------------------------------------
    Layouts
-----------------------------------------------------------------------*/

.betterbase-theme *[class*="container-"],
.betterbase-theme *[class*="section-"],
.betterbase-theme *[class*="block-"],
.betterbase-theme *[class*="entry-"],
.betterbase-theme .relative {
    position: relative;
}

.betterbase-theme .absolute {
    position: absolute;
}

/* Flex Layout */

.betterbase-theme .flex-layout,
.betterbase-theme .flex-align-start,
.betterbase-theme .flex-align-center,
.betterbase-theme .flex-align-end,
.betterbase-theme .flex-justify-start,
.betterbase-theme .flex-justify-center,
.betterbase-theme .flex-justify-end,
.betterbase-theme .flex-justify-between {
    display: flex;
    flex-wrap: wrap;
}

.betterbase-theme .flex-align-start {
    align-items: flex-start;
}

.betterbase-theme .flex-align-center {
    align-items: center;
}

.betterbase-theme .flex-align-end {
    align-items: flex-end;
}

.betterbase-theme .flex-justify-start {
    justify-content: flex-start;
}

.betterbase-theme .flex-justify-center {
    justify-content: center;
}

.betterbase-theme .flex-justify-end {
    justify-content: flex-end;
}

.betterbase-theme .flex-justify-between {
    justify-content: space-between;
}

.betterbase-theme .flex-row-reverse {
    flex-direction: row-reverse;
}

.betterbase-theme .flex-column-reverse {
    flex-direction: column-reverse;
}

.betterbase-theme .flex-nowrap {
    flex-wrap: nowrap;
}

.betterbase-theme .flex-gap {
    gap: 15px;
}

/* Containers */

.betterbase-theme .container,
.betterbase-theme .container-xl,
.betterbase-theme .container-lg,
.betterbase-theme .container-md,
.betterbase-theme .container-sm,
.betterbase-theme .container-xs {
    z-index: 99;
    margin: auto;
    width: calc(100% - 60px);
}

.betterbase-theme .container,
.betterbase-theme .container-xl {
    width: 100%;
}

.betterbase-theme .container-lg {
    max-width: var(--container-lg);
}

.betterbase-theme .container-md {
    max-width: var(--container-md);
}

.betterbase-theme .container-sm {
    max-width: var(--container-sm);
}

.betterbase-theme .container-xs {
    max-width: var(--container-xs);
}

/* Padding */

.betterbase-theme .padding-lg,
.betterbase-theme .padding-lg-top {
    padding-top: 80px;
}

.betterbase-theme .padding-lg,
.betterbase-theme .padding-lg-bot {
    padding-bottom: 80px;
}

.betterbase-theme .padding-md,
.betterbase-theme .padding-md-top {
    padding-top: 40px;
}

.betterbase-theme .padding-md,
.betterbase-theme .padding-md-bot {
    padding-bottom: 40px;
}

.betterbase-theme .padding-sm,
.betterbase-theme .padding-sm-top {
    padding-top: 20px;
}

.betterbase-theme .padding-sm,
.betterbase-theme .padding-sm-bot {
    padding-bottom: 20px;
}

/* Grid Layout */

.betterbase-theme .grid-col-1,
.betterbase-theme .grid-col-2,
.betterbase-theme .grid-col-3,
.betterbase-theme .grid-col-4,
.betterbase-theme .grid-col-5,
.betterbase-theme .grid-col-6 {
    display: grid;
    gap: 20px;
}

.betterbase-theme .grid-col-2 {
    gap: 80px;
}

.betterbase-theme .grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.betterbase-theme .grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.betterbase-theme .grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.betterbase-theme .grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.betterbase-theme .grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

/* Visibility */

.betterbase-theme .is-desktop-only {
    display: block;
}

.betterbase-theme .is-mobile-only {
    display: none;
}

/* Block Settings */

.betterbase-theme .block-setting-padding {
    padding-top: var(--block-padding-top);
    padding-bottom: var(--block-padding-bottom);
}

.betterbase-theme .block-setting-background-color {
    background-color: var(--block-background-color);
}

/* Responsive */

@media (max-width: 1201px) {
    .betterbase-theme .grid-col-5 {
        grid-template-columns: repeat(3, 1fr);
    }

    .betterbase-theme .grid-col-6 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 761px) {
    .betterbase-theme .container-lg,
    .betterbase-theme .container-md,
    .betterbase-theme .container-sm,
    .betterbase-theme .container-xs {
        width: calc(100% - 30px);
    }

    .betterbase-theme .padding-lg,
    .betterbase-theme .padding-lg-top {
        padding-top: 40px;
    }

    .betterbase-theme .padding-lg,
    .betterbase-theme .padding-lg-bot {
        padding-bottom: 40px;
    }

    .betterbase-theme .grid-col-2 {
        gap: 40px;
    }

    .betterbase-theme .grid-col-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .betterbase-theme .grid-col-3,
    .betterbase-theme .grid-col-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .betterbase-theme .grid-col-5,
    .betterbase-theme .grid-col-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .betterbase-theme .block-setting-padding {
        padding-top: calc(var(--block-padding-top) / 1.5);
        padding-bottom: calc(var(--block-padding-bottom) / 1.5);
    }

    .betterbase-theme .is-desktop-only {
        display: none;
    }

    .betterbase-theme .is-mobile-only {
        display: block;
    }
}

@media (max-width: 641px) {
    .betterbase-theme .grid-col-3,
    .betterbase-theme .grid-col-4,
    .betterbase-theme .grid-col-5 {
        grid-template-columns: repeat(1, 1fr);
    }

    .betterbase-theme .grid-col-6 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*-----------------------------------------------------------------------
    Typography
-----------------------------------------------------------------------*/

.betterbase-theme h1,
.betterbase-theme h1 *,
.betterbase-theme .h1,
.betterbase-theme .h1 *,
.betterbase-theme h2,
.betterbase-theme h2 *,
.betterbase-theme .h2,
.betterbase-theme .h2 *,
.betterbase-theme h3,
.betterbase-theme h3 *,
.betterbase-theme .h3,
.betterbase-theme .h3 *,
.betterbase-theme h4,
.betterbase-theme h4 *,
.betterbase-theme .h4,
.betterbase-theme .h4 *,
.betterbase-theme h5,
.betterbase-theme h5 *,
.betterbase-theme .h5,
.betterbase-theme .h5 *,
.betterbase-theme h6,
.betterbase-theme h6 *,
.betterbase-theme .h6,
.betterbase-theme .h6 *,
.betterbase-theme ul,
.betterbase-theme ol,
.betterbase-theme li,
.betterbase-theme p,
.betterbase-theme a {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-weight: 400;
    text-wrap: wrap;
    word-wrap: break-word;
}

.betterbase-theme h1,
.betterbase-theme h1 *,
.betterbase-theme .h1,
.betterbase-theme .h1 * {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
}

.betterbase-theme h2,
.betterbase-theme h2 *,
.betterbase-theme .h2,
.betterbase-theme .h2 * {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 500;
}

.betterbase-theme h3,
.betterbase-theme h3 *,
.betterbase-theme .h3,
.betterbase-theme .h3 * {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
}

.betterbase-theme h4,
.betterbase-theme h4 *,
.betterbase-theme .h4,
.betterbase-theme .h4 * {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
}

.betterbase-theme h5,
.betterbase-theme h5 *,
.betterbase-theme .h5,
.betterbase-theme .h5 * {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
}

.betterbase-theme h6,
.betterbase-theme h6 *,
.betterbase-theme .h6,
.betterbase-theme .h6 * {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
}

.betterbase-theme p,
.betterbase-theme li {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 400;
}

.betterbase-theme strong,
.betterbase-theme strong * {
    font-weight: 600 !important;
}

/* Links */

.betterbase-theme a {
    text-underline-offset: 3px !important;
    text-decoration-thickness: 1px !important;
}

.betterbase-theme a:hover,
.betterbase-theme a:focus {
    color: inherit;
}

/* Lists */

.betterbase-theme ul,
.betterbase-theme ol,
.betterbase-theme li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Misc */

.betterbase-theme code {
    padding: 10px;
    color: var(--white);
    background: var(--black);
}

.betterbase-theme mark {
    background: none;
}

.betterbase-theme hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--black);
}

/* Responsive */

@media (max-width: 991px) {
    .betterbase-theme h1,
    .betterbase-theme h1 *,
    .betterbase-theme .h1,
    .betterbase-theme .h1 * {
        font-size: 50px;
    }
}

@media (max-width: 761px) {
    .betterbase-theme h1 br,
    .betterbase-theme .h1 br,
    .betterbase-theme h2 br,
    .betterbase-theme .h2 br,
    .betterbase-theme h3 br,
    .betterbase-theme .h3 br,
    .betterbase-theme h4 br,
    .betterbase-theme .h4 br,
    .betterbase-theme h5 br,
    .betterbase-theme .h5 br {
        display: none;
    }
}

/*-----------------------------------------------------------------------
    Content Styling
-----------------------------------------------------------------------*/

/* Sizes */

.betterbase-theme .text-small,
.betterbase-theme .text-small * {
    font-size: 14px !important;
}

.betterbase-theme .text-sub,
.betterbase-theme .text-sub * {
    font-size: 12px !important;
}

/* Alignment */

.betterbase-theme .text-left {
    text-align: left;
}

.betterbase-theme .text-center {
    text-align: center;
}

.betterbase-theme .text-right {
    text-align: right;
}

/* Colours */

.betterbase-theme .text-muted {
    opacity: 50%;
}

.betterbase-theme .text-white,
.betterbase-theme .text-white *:not(.button, button, .button *, button *, [class*="text-"], [style*="color"], .gform_validation_errors *) {
    color: var(--white) !important;
    border-color: var(--white);
}

/*-----------------------------------------------------------------------
    WYSIWYG Content
-----------------------------------------------------------------------*/

.wysiwyg-content {
    width: 100%;
    position: relative;
    z-index: 99;
}

.wysiwyg-content h1:not(:last-child),
.wysiwyg-content h2:not(:last-child),
.wysiwyg-content h3:not(:last-child),
.wysiwyg-content h4:not(:last-child),
.wysiwyg-content h5:not(:last-child),
.wysiwyg-content h6:not(:last-child),
.wysiwyg-content ul:not(:last-child),
.wysiwyg-content ol:not(:last-child),
.wysiwyg-content p:not(:last-child),
.wysiwyg-content img:not(:last-child),
.wysiwyg-content table:not(:last-child),
.wysiwyg-content code:not(:last-child),
.wysiwyg-content blockquote:not(:last-child) {
    margin: 0 0 20px !important;
}

.wysiwyg-content li:not(:last-child) {
    margin: 0 0 5px !important;
}

/* Links */

.wysiwyg-content a {
    text-decoration: underline;
}

/* Lists */

.wysiwyg-content li {
    position: relative;
    text-align: left;
    padding: 0 0 0 20px;
}

.wysiwyg-content ul > li:before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 3px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: var(--black);
}

.wysiwyg-content ul.list-style-checkmark li {
    padding: 0 0 0 25px;
}

.wysiwyg-content ul.list-style-checkmark > li:before {
    top: 5px;
    width: 14px;
    height: 14px;
    background: url(../img/icon-checkmark.svg) 50% no-repeat;
    background-size: 14px;
}

.wysiwyg-content ol {
    counter-reset: item;
    list-style-position: outside;
}

.wysiwyg-content ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Blockquote */

.wysiwyg-content blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0 20px 20px;
    border-left: 1px solid var(--black);
}

/* Images */

.wysiwyg-content img {
    display: block;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

.wysiwyg-content img:not(:first-child) {
    margin-top: 40px !important;
}

.wysiwyg-content img:not(:last-child) {
    margin-bottom: 40px !important;
}

.wysiwyg-content img.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
}

.wysiwyg-content img.alignleft {
    float: left;
}

.wysiwyg-content img.alignright {
    float: right;
}

.wysiwyg-content img.size-full {
    width: 100% !important;
}

/* Misc */

.wysiwyg-content hr {
    margin: 30px 0;
}

/*-----------------------------------------------------------------------
    Global Forms
-----------------------------------------------------------------------*/

.betterbase-theme form *[disabled] {
    opacity: 50%;
    pointer-events: none;
}

/* Labels */

.betterbase-theme label,
.betterbase-theme legend,
.betterbase-theme .gfield_description,
.betterbase-theme .gfield_preview {
    display: block !important;
    padding: 0 !important;
    margin: 5px 0 !important;
    color: var(--black);
    font-size: 12px !important;
    line-height: 16px;
    font-weight: 500 !important;
}

.betterbase-theme label a,
.betterbase-theme legend a {
    color: var(--black) !important;
    text-decoration: underline;
}

.betterbase-theme label .required,
.betterbase-theme .gravity-theme form label.gfield_required {
    font-size: inherit;
    color: var(--red);
}

/* Basic Fields */

.betterbase-theme input:not([type="button"], [type="submit"]),
.betterbase-theme select,
.betterbase-theme textarea {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: auto;
    min-height: 0 !important;
    border: 0;
    border-radius: 0;
    border: 1px solid var(--grey);
    background: transparent;
    padding: 14px 16px !important;
    color: var(--black);
    font-size: 15px;
    line-height: 18px !important;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    transition: none;
    resize: none;
    outline: 0 !important;
}

.betterbase-theme textarea {
    min-height: 100px;
    max-height: 200px;
}

.betterbase-theme ::placeholder {
    color: var(--grey);
}

/* Select */

.betterbase-theme select:not([multiple="multiple"]) {
    padding-right: 45px;
}

.betterbase-theme select:not([multiple="multiple"]),
.betterbase-theme .select2-container .select2-selection {
    background: url(../img/icon-chevron-down.svg) no-repeat;
    background-size: 12px;
    background-position: center right 16px;
    cursor: pointer;
}

.betterbase-theme .select2,
.betterbase-theme .select2 * {
    margin: 0;
    padding: 0 !important;
    line-height: 18px !important;
}

.betterbase-theme .select2-container .select2-selection {
    margin: 0;
    outline: 0;
    display: block;
    height: auto;
    padding: 14px 16px !important;
    border: 1px solid var(--grey);
    border-radius: 0;
    color: var(--black);
    font-size: 15px;
    line-height: 18px !important;
    font-weight: 400;
}

.betterbase-theme .select2-selection__rendered,
.betterbase-theme .select2-selection__placeholder {
    color: var(--black);
}

.betterbase-theme .select2-dropdown {
    top: 0;
    border: 1px solid var(--black);
    background: var(--white);
}

.betterbase-theme .select2-dropdown .select2-search,
.betterbase-theme .select2-dropdown .select2-results__option {
    padding: 5px;
}

.betterbase-theme .select2-dropdown .select2-results__option.select2-results__option--highlighted {
    background: var(--black);
}

.betterbase-theme .select2-container .select2-selection__arrow {
    display: none;
}

/* Checkbox & Radio */

.betterbase-theme input[type="checkbox"],
.betterbase-theme input[type="radio"] {
    position: relative;
    display: inline-block;
    padding: 0 !important;
    margin: 0 8px 0 0;
    min-height: 24px !important;
    min-width: 24px !important;
    max-width: 24px !important;
    max-height: 24px !important;
    border: 1px solid var(--grey);
    background: var(--white);
    box-shadow: none;
    transition: none;
    cursor: pointer;
}

.betterbase-theme input[type="checkbox"],
.betterbase-theme input[type="radio"],
.betterbase-theme input[type="checkbox"] + label,
.betterbase-theme input[type="radio"] + label {
    display: inline-block !important;
    vertical-align: top;
}

.betterbase-theme input[type="checkbox"] + label,
.betterbase-theme input[type="radio"] + label {
    margin: 3px 0 !important;
    font-size: 16px !important;
    line-height: 20px;
    max-width: calc(100% - 40px) !important;
}

.betterbase-theme input[type="radio"] {
    border-radius: 25px !important;
}

.betterbase-theme input[type="checkbox"]:checked {
    border-color: var(--black);
    background: var(--black) url(../img/icon-checkbox.svg) 50% no-repeat;
    background-size: 14px;
}

.betterbase-theme input[type="radio"]:checked {
    border: 6px solid var(--black);
}

.betterbase-theme input[type="radio"]:before,
.betterbase-theme input[type="checkbox"]:before {
    display: none !important;
}

/*-----------------------------------------------------------------------
    Gravity Forms
-----------------------------------------------------------------------*/

.gravity-theme form .gform_body,
.gravity-theme form .gform_fields,
.gravity-theme form .gform_footer {
    margin: 0 !important;
}

.gravity-theme form .gform_fields {
    gap: 10px 20px !important;
}

.gravity-theme form .ginput_complex {
    gap: 0 !important;
}

.gravity-theme .gform_required_legend {
    display: none !important;
}

/* Validation */

.gravity-theme form .gform_ajax_spinner,
.gravity-theme form .gform-loader {
    font-size: 0.1em !important;
    margin: 0 0 0 15px !important;
}

.gravity-theme .gform_validation_errors {
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}

.gravity-theme form .gfield .gfield_validation_message {
    padding: 0;
    border: 0;
    background: transparent;
}

.gravity-theme .gform_validation_errors * {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--red);
}

/* Labels & Descriptions */

.gravity-theme form .gfield_description,
.gravity-theme form .gfield_list_group_item:before,
.gravity-theme form .gfield_list .gform-field-label,
.gravity-theme form .gform-field-label--type-sub {
    font-weight: 400 !important;
    color: rgba(var(--black-rgb), 50%);
}

/* Checkbox & Radio */

.gravity-theme form .gfield--type-choice .gchoice:not(:last-child) {
    margin: 0 0 8px !important;
}

/* Date & Time */

.gravity-theme form .gfield--type-date .ginput_container,
.gravity-theme form .gfield--type-time .ginput_container {
    flex-basis: auto !important;
    max-width: 100% !important;
    flex: 1 !important;
}

.gravity-theme form .gfield--type-time .hour_minute_colon {
    line-height: 48px !important;
}

/* List */

.gravity-theme form .gfield_list .gfield_list_icons button {
    width: 16px !important;
    height: 16px !important;
    min-width: 16px !important;
    min-height: 16px !important;
}

/* File Upload */

.gravity-theme form .gfield--type-fileupload .gform_drop_area {
    border-color: var(--grey) !important;
}

.gravity-theme form .gfield--type-fileupload .gform_drop_area .gform_button_select_files {
    margin: auto !important;
}

.gravity-theme form .gfield--type-fileupload .ginput_preview {
    display: flex !important;
    align-items: center;
    gap: 5px;
    margin: 10px 0 0 !important;
}

.gravity-theme form .gfield--type-fileupload .ginput_preview * {
    padding: 0;
    line-height: 18px;
    order: 9;
}

.gravity-theme form .gfield--type-fileupload .ginput_preview .gform_delete_file {
    order: 1;
    margin: 0;
    padding: 0;
    min-width: 0 !important;
    text-decoration: none;
}

/* Product */

.gravity-theme form .ginput_product_price_wrapper {
    width: 100%;
    margin: 0 0 10px;
}

/* Progress Bar */

.gravity-theme form .gf_progressbar_wrapper .gf_progressbar {
    margin: 0 0 20px !important;
}

.gravity-theme form .gf_progressbar_wrapper .gf_progressbar_title {
    font-size: 12px !important;
    margin: 0 0 10px !important;
}

.gravity-theme form .gf_progressbar,
.gravity-theme form .gf_progressbar_wrapper,
.gravity-theme form .gf_progressbar_percentage {
    border-radius: 0 !important;
}

.gravity-theme form .gf_progressbar {
    background: rgba(var(--grey-rgb), 50%) !important;
}

.gravity-theme form .gf_progressbar_percentage {
    background: var(--black) !important;
}

/* Footer */

.gravity-theme form .gform_footer,
.gravity-theme form .gform-page-footer {
    padding: 0 !important;
    margin-top: 25px !important;
}

.gravity-theme form .gform-page-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.gravity-theme form .gform_footer .button,
.gravity-theme form .gform-page-footer .button {
    margin: 0 !important;
}

/*-----------------------------------------------------------------------
    Buttons
-----------------------------------------------------------------------*/

.betterbase-theme .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.betterbase-theme .button svg {
    width: 14px;
    height: 14px;
    color: var(--black);
}

/* Default Styles */

.betterbase-theme button,
.betterbase-theme button:hover,
.betterbase-theme button:focus,
.betterbase-theme .button,
.betterbase-theme .button:hover,
.betterbase-theme .button:focus {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 !important;
    outline: 0;
    width: auto;
    height: auto;
    min-width: 70px;
    min-height: 0 !important;
    padding: 14px 30px;
    color: var(--black);
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px !important;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: 1px solid var(--black);
    border-radius: 0 !important;
    transition: var(--transition) all;
    cursor: pointer;
}

/* Hover/Focus */

.betterbase-theme button:hover,
.betterbase-theme button:focus,
.betterbase-theme .button:hover,
.betterbase-theme .button:focus {
    outline: 0;
    box-shadow: none;
}

/* Additional Styles */

.betterbase-theme .button.button-white {
    border-color: var(--white);
}

.betterbase-theme .button.button-white,
.betterbase-theme .button.button-white svg {
    color: var(--white);
}

/* Responsive */

@media (max-width: 641px) {
    .betterbase-theme .button-group {
        width: 100%;
    }
}

/*-----------------------------------------------------------------------
    Site Notice
-----------------------------------------------------------------------*/

.site-notice {
    padding: 10px 0;
    background: var(--black);
    color: var(--white);
}

/*-----------------------------------------------------------------------
    Site Logo
-----------------------------------------------------------------------*/

.site-logo,
.site-logo img,
.site-logo svg {
    display: block;
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    z-index: 20000;
    transition: none;
}

.site-footer .site-logo,
.site-footer .site-logo img,
.site-footer .site-logo svg {
    max-width: 120px;
    max-height: 120px;
}

/*-----------------------------------------------------------------------
    Site Header
-----------------------------------------------------------------------*/

.site-header {
    top: 0;
    width: 100%;
    display: block;
    position: fixed;
    background: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 2000000002;
}

body.betterbase-theme.admin-bar .site-header {
    top: var(--admin-height);
}

.site-header > div[class*="container"] {
    height: var(--header-height);
}

/* Main Menu */

.site-header .main-menu,
.site-header .main-menu > ul {
    display: flex;
    gap: 5px;
}

.site-header .main-menu ul li {
    position: relative;
}

.site-header .main-menu ul li a {
    display: block;
    padding: 10px;
}

.site-header .main-menu ul > li.current-menu-item > a,
.site-header .main-menu ul > li.current-menu-parent > a,
.site-header .main-menu ul li a:hover,
.site-header .main-menu ul li a:focus {
    text-decoration: underline;
}

/* Sub Menu */

.site-header .trigger-sub-menu svg {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.site-header .main-menu ul.sub-menu {
    padding: 8px 10px;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.site-header .main-menu ul.sub-menu li a {
    padding: 5px;
}

.site-header .main-menu ul li .sub-menu-wrap {
    width: 160px;
    padding: 15px 0 0 0;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    margin: 0;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    z-index: 20000;
}

.site-header .main-menu ul li:hover > .sub-menu-wrap {
    opacity: 1;
    pointer-events: all;
}

.site-header .main-menu ul ul .sub-menu-wrap {
    padding: 0 0 0 10px;
    top: -8px;
    right: auto;
    left: 100%;
    transform: translate(0);
}

/* Icon Menu */

.site-header .main-menu *[class*="icon-"] {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.site-header .main-menu *[class*="icon-"] svg {
    width: 20px;
    height: 20px;
}

/* Hamburger */

.site-header .icon-hamburger span,
.site-header .icon-hamburger span:before,
.site-header .icon-hamburger span:after {
    display: block;
    position: absolute;
    left: 0;
    width: 18px;
    height: 2px;
    background: var(--black);
    transition: background 0s 0.3s;
}

.site-header .icon-hamburger span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-header .icon-hamburger span:before {
    content: "";
    top: -5px;
    transition-property: top, transform;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.site-header .icon-hamburger span:after {
    content: "";
    bottom: -5px;
    transition-property: bottom, transform;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

body.betterbase-theme.has-active-menu .site-header .icon-hamburger span {
    background: none;
}

body.betterbase-theme.has-active-menu .site-header .icon-hamburger span:before {
    top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
}

body.betterbase-theme.has-active-menu .site-header .icon-hamburger span:after {
    bottom: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
}

/* Responsive Menu */

.site-responsive-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: calc(var(--header-height) + var(--notice-height));
    overflow-y: auto;
    z-index: 0;
}

body.betterbase-theme.admin-bar .site-responsive-menu {
    top: calc(var(--header-height) + var(--notice-height) + var(--admin-height));
}

.site-responsive-menu div[class*="container"] {
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: var(--transition) all;
}

/* Responsive Menu: Menu */

.site-responsive-menu .main-menu {
    margin: 20px 0;
}

.site-responsive-menu .main-menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-responsive-menu .main-menu > ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.site-responsive-menu .main-menu > ul > li > a {
    font-size: 24px;
}

.site-responsive-menu .main-menu ul > li.current-menu-item > a,
.site-responsive-menu .main-menu ul > li.current-menu-parent > a,
.site-responsive-menu .main-menu ul li a:hover,
.site-responsive-menu .main-menu ul li a:focus {
    text-decoration: underline;
}

/* Responsive Menu: Sub Menu */

.site-responsive-menu .main-menu ul li .trigger-sub-menu {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-responsive-menu .main-menu ul li .trigger-sub-menu svg {
    width: 18px;
    height: 18px;
}

.site-responsive-menu ul li.has-active-sub-menu > a > .trigger-sub-menu svg {
    transform: rotate(135deg);
}

.site-responsive-menu .main-menu ul.sub-menu {
    padding: 5px;
}

.site-responsive-menu .main-menu ul.sub-menu li a {
    font-size: 18px;
}

.site-responsive-menu ul li .sub-menu-wrap {
    display: none;
}

.site-responsive-menu ul li.has-active-sub-menu > .sub-menu-wrap {
    display: block !important;
}

/* Responsive */

@media (min-width: 990px) {
    .site-header .trigger-menu,
    .site-responsive-menu {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .site-header .main-menu ul {
        display: none !important;
    }

    .site-header .trigger-menu {
        display: flex !important;
    }

    body.has-active-menu .site-main {
        transform: translateX(-100%);
    }

    body.has-active-menu .site-responsive-menu div[class*="container"] {
        opacity: 1;
    }
}

/*-----------------------------------------------------------------------
    Site Search
-----------------------------------------------------------------------*/

.site-search {
    background: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
    top: calc(var(--header-height) + var(--notice-height));
    border-bottom: 1px solid var(--grey);
}

body.betterbase-theme.admin-bar .site-search {
    top: calc(var(--header-height) + var(--notice-height) + var(--admin-height));
}

.site-search *[class*="container"] {
    padding: 20px 0;
}

.site-search .close-search {
    margin-left: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.site-search .close-search svg {
    width: 14px;
    height: 14px;
}

.betterbase-theme form.search-form {
    display: flex;
    gap: 15px;
}

.betterbase-theme form.search-form,
.betterbase-theme form.search-form > input {
    flex: 1;
}

/* Responsive */

@media (max-width: 991px) {
    .site-search {
        display: none !important;
    }
}

/*-----------------------------------------------------------------------
    Site Footer
-----------------------------------------------------------------------*/

.site-footer a:hover {
    text-decoration: underline;
}

/* Footer Menu */

.site-footer ul,
.site-footer ul li {
    display: block;
}

.site-footer ul li,
.site-footer h6 {
    margin: 0 0 10px;
}

.site-footer ul.sub-menu {
    display: none;
}

/* Policies */

.site-footer .footer-policies {
    margin-right: auto;
}

/*-----------------------------------------------------------------------
    Site Breadcrumbs
-----------------------------------------------------------------------*/

.site-breadcrumbs .flex-layout {
    padding: 20px 0;
    gap: 10px;
}

.site-breadcrumbs a {
    transition: none;
}

.site-breadcrumbs a:hover,
.site-breadcrumbs a:focus {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------
    Media
-----------------------------------------------------------------------*/

.betterbase-theme img {
    max-width: 100%;
    height: auto;
    display: block;
}

.betterbase-theme svg {
    transition: var(--transition) all;
}

.betterbase-theme .image-square,
.betterbase-theme .image-portrait,
.betterbase-theme .image-landscape {
    background: var(--grey);
    position: relative;
    width: 100%;
}

.betterbase-theme .image-square img,
.betterbase-theme .image-portrait img,
.betterbase-theme .image-landscape img {
    object-fit: cover;
    width: 100%;
}

.betterbase-theme .image-square,
.betterbase-theme .image-square img {
    aspect-ratio: 1 / 1;
}

.betterbase-theme .image-portrait,
.betterbase-theme .image-portrait img {
    aspect-ratio: 2 / 3;
}

.betterbase-theme .image-landscape,
.betterbase-theme .image-landscape img {
    aspect-ratio: 3 / 2;
}

/* Background Elements */

.betterbase-theme .background-image,
.betterbase-theme .background-video,
.betterbase-theme div[class*="background-"].has-overlay:before {
    position: absolute;
    inset: 0;
}

.betterbase-theme .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.betterbase-theme .background-video,
.betterbase-theme .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.betterbase-theme div[class*="background-"].has-overlay:before {
    content: "";
    background: rgba(var(--black-rgb), 30%);
    pointer-events: none;
}

/* Video Embed */

.betterbase-theme .responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.betterbase-theme .responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------------------------------
    Swiper
-----------------------------------------------------------------------*/

.betterbase-theme .swiper-carousel-wrap {
    min-width: 100%;
    overflow: hidden;
}

.wp-block .betterbase-theme .swiper {
    pointer-events: none;
}

.betterbase-theme .swiper .swiper-slide {
    width: auto;
    height: auto;
}

.betterbase-theme .swiper .swiper-pagination-lock,
.betterbase-theme .swiper .swiper-button-lock {
    display: none !important;
}

/* Footer */

.betterbase-theme .swiper-footer {
    width: calc(100% - 30px);
    max-width: var(--container-lg);
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* Pagination */

.betterbase-theme .swiper-pagination {
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.betterbase-theme .swiper-pagination span {
    transition: var(--transition) all;
}

.betterbase-theme .swiper-pagination-bullets {
    width: fit-content;
}

.betterbase-theme .swiper-pagination-bullets span {
    opacity: 100%;
    margin: 0 2px !important;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: var(--grey);
    transition: var(--transition) background;
}

.betterbase-theme .swiper-pagination-bullets span.swiper-pagination-bullet-active {
    background: var(--black);
}

.betterbase-theme .swiper-pagination-progressbar,
.betterbase-theme .swiper-pagination-progressbar span {
    opacity: 100%;
    margin: 0 !important;
    height: 2px !important;
    background: rgba(var(--grey-rgb), 50%);
}

.betterbase-theme .swiper-pagination-progressbar span {
    background: var(--black);
}

.betterbase-theme .text-white .swiper-pagination-progressbar span {
    background: var(--white);
}

/* Navigation */

.betterbase-theme .swiper-navigation,
.betterbase-theme .swiper-navigation div[class*="swiper-nav-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.betterbase-theme .swiper-navigation div[class*="swiper-nav-"] {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: var(--transition) all;
}

.betterbase-theme .swiper-navigation div[class*="swiper-nav-"] svg {
    width: 20px;
    height: 20px;
}

.betterbase-theme .swiper-navigation .swiper-button-disabled {
    cursor: not-allowed;
    opacity: 50%;
}

/* Responsive */

@media (max-width: 761px) {
    .betterbase-theme .swiper-footer {
        margin-top: 20px;
    }
}

/*-----------------------------------------------------------------------
    Tables
-----------------------------------------------------------------------*/

.betterbase-theme table {
    border-collapse: collapse;
    width: 100%;
}

.betterbase-theme table,
.betterbase-theme table tr,
.betterbase-theme table th,
.betterbase-theme table td {
    border-color: var(--grey);
}

.betterbase-theme table th,
.betterbase-theme table td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--grey);
}

.betterbase-theme table th,
.betterbase-theme table th * {
    font-weight: 600;
}

.betterbase-theme table .button {
    width: fit-content !important;
    margin: 5px 5px 5px 0 !important;
}

/*-----------------------------------------------------------------------
    Social Icons
-----------------------------------------------------------------------*/

.betterbase-theme .social-icons {
    gap: 10px;
}

.betterbase-theme .social-icons a,
.betterbase-theme .social-icons div,
.betterbase-theme .social-icons svg {
    margin: 0;
    display: block;
}

.betterbase-theme .social-icons svg {
    width: 20px;
    height: 20px;
    color: var(--black);
}

.betterbase-theme .social-icons a:hover svg,
.betterbase-theme .social-icons div:hover svg {
    color: var(--grey);
}

/*-----------------------------------------------------------------------
    Clipboard Copy
-----------------------------------------------------------------------*/

.betterbase-theme .copy-to-clipboard {
    position: relative;
    cursor: pointer;
}

.betterbase-theme .copy-to-clipboard .tooltip {
    background: var(--black);
    padding: 5px 8px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    white-space: nowrap;
    color: var(--white);
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -140%);
    transition: var(--transition) all;
}

.betterbase-theme .copy-to-clipboard .tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--black) transparent transparent transparent;
}

.betterbase-theme .copy-to-clipboard:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/*-----------------------------------------------------------------------
    Popups
-----------------------------------------------------------------------*/

.betterbase-theme .trigger-popup,
.betterbase-theme .close-popup {
    cursor: pointer;
    z-index: 20000;
}

.betterbase-theme .popup-wrap {
    display: none;
}

.betterbase-theme .popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--black-rgb), 80%);
    z-index: 20000000000;
}

/* Containers */

.betterbase-theme .popup-overlay > *[class*="container"] {
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
    padding: 40px;
    background: var(--white);
}

/* Close Button */

.betterbase-theme .popup-overlay .close-popup:not(.button) {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

.betterbase-theme .popup-overlay .close-popup svg {
    width: 16px;
    height: 16px;
}

/*-----------------------------------------------------------------------
    Pagination
-----------------------------------------------------------------------*/

.betterbase-theme .archive-pagination {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}

.betterbase-theme .archive-pagination a {
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
}

.betterbase-theme .archive-pagination a:hover,
.betterbase-theme .archive-pagination a.is-current {
    text-decoration: underline;
}

.betterbase-theme .post-pagination .button,
.betterbase-theme .post-pagination .button:hover,
.betterbase-theme .post-pagination .button:focus {
    padding: 0 !important;
    min-width: 0 !important;
    border: 0 !important;
}

.betterbase-theme .post-pagination .pagination-next .button svg {
    transform: rotate(-180deg);
}

/*-----------------------------------------------------------------------
    Categories & Tags
-----------------------------------------------------------------------*/

.betterbase-theme .group-tags,
.betterbase-theme .group-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Tags */

.betterbase-theme .group-tags {
    gap: 5px 10px;
}

.betterbase-theme .group-tags a,
.betterbase-theme .group-tags span {
    color: var(--black);
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

/* Categories */

.betterbase-theme .group-categories {
    gap: 20px 10px;
}

.betterbase-theme .group-categories a,
.betterbase-theme .group-categories span {
    padding: 12px 22px;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid var(--grey);
    text-decoration: none;
}

/*-----------------------------------------------------------------------
    Entry - Default
-----------------------------------------------------------------------*/

.betterbase-theme *[class^="entry-"] {
    display: block;
    position: relative;
    text-decoration: none;
    transition: var(--transition) all;
}

/*-----------------------------------------------------------------------
    Block - Default
-----------------------------------------------------------------------*/

.betterbase-theme[class*="block-"] {
    overflow: hidden;
}

.betterbase-theme .inner-block-head {
    margin-bottom: 60px;
}

.betterbase-theme .inner-block-foot {
    margin-top: 60px;
}

/* Responsive */

@media (max-width: 761px) {
    .betterbase-theme .inner-block-head {
        margin-bottom: 40px;
    }

    .betterbase-theme .inner-block-foot {
        margin-top: 40px;
    }
}

/*-----------------------------------------------------------------------
    Block - Empty
-----------------------------------------------------------------------*/

.block-empty p {
    padding: 8px 20px;
    margin: 20px auto;
    width: fit-content;
    background: #f1f1f1;
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

/*-----------------------------------------------------------------------
    Block - Post Header
-----------------------------------------------------------------------*/

.block-post-header .group-tags {
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------
    Block - Split Content
-----------------------------------------------------------------------*/

/* Responsive */

@media (max-width: 761px) {
    .block-split-content .col-content {
        order: 9;
    }

    .block-split-content .col-image {
        order: 1;
    }
}

/*-----------------------------------------------------------------------
    Block - Accordion
-----------------------------------------------------------------------*/

/* Entry */

.betterbase-theme .entry-accordion {
    padding: 20px;
    border-top: 1px solid var(--grey);
}

.betterbase-theme .entry-accordion:last-child {
    border-bottom: 1px solid var(--grey);
}

.betterbase-theme .entry-accordion .inner-entry-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.betterbase-theme .entry-accordion .inner-entry-title svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.betterbase-theme .entry-accordion.is-active .inner-entry-title svg {
    transform: rotate(135deg);
}

.betterbase-theme .entry-accordion .inner-entry-content {
    display: none;
}

.betterbase-theme .entry-accordion .wysiwyg-content {
    margin-top: 15px;
}

/*-----------------------------------------------------------------------
    Block - Image Gallery
-----------------------------------------------------------------------*/

.block-image-gallery .carousel-gallery img {
    width: auto;
    height: 50vw;
    min-height: 400px;
    max-height: 700px;
}

/*-----------------------------------------------------------------------
    Block - Video
-----------------------------------------------------------------------*/

.block-video .video-wrapper {
    position: relative;
}

.block-video .video-wrapper video {
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    cursor: pointer;
}

.block-video .video-wrapper .toggle-pause-play,
.block-video .video-wrapper .toggle-pause-play svg {
    color: var(--white);
}

.block-video .video-wrapper .toggle-pause-play {
    display: block;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--black-rgb), 40%);
    opacity: 0;
    transition: var(--transition) opacity;
    pointer-events: none;
    z-index: 999;
}

.block-video .video-wrapper .toggle-pause-play svg {
    width: 24px;
    height: 24px;
}

.block-video .video-wrapper.is-paused .toggle-pause-play {
    opacity: 1;
}

/*-----------------------------------------------------------------------
    Block - Hero Banner
-----------------------------------------------------------------------*/

.block-hero-banner > div[class*="block-setting-"] {
    min-height: calc(100vh - var(--header-height) - var(--notice-height));
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.betterbase-theme.admin-bar .block-hero-banner > div[class*="block-setting-"] {
    min-height: calc(100vh - var(--header-height) - var(--notice-height) - var(--admin-height));
}

.wp-block .block-hero-banner > div[class*="block-setting-"] {
    min-height: 990px;
}

/*-----------------------------------------------------------------------
    Block - Reviews
-----------------------------------------------------------------------*/

/* Entry */

.betterbase-theme .entry-review .inner-entry-meta {
    margin-bottom: 20px;
}

.betterbase-theme .entry-review .review-rating svg {
    height: 14px;
    width: auto;
}

.betterbase-theme .entry-review .review-rating.is-4-star svg path:nth-child(n + 5),
.betterbase-theme .entry-review .review-rating.is-3-star svg path:nth-child(n + 4),
.betterbase-theme .entry-review .review-rating.is-2-star svg path:nth-child(n + 3),
.betterbase-theme .entry-review .review-rating.is-1-star svg path:nth-child(n + 2) {
    opacity: 25%;
}

.betterbase-theme .entry-review .review-source svg {
    width: 20px;
    height: 20px;
}

.betterbase-theme .entry-review .toggle-read-more {
    text-decoration: underline;
}

.betterbase-theme .entry-review .inner-entry-author {
    margin-top: 25px;
}

.betterbase-theme .entry-review .inner-entry-image {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

/*-----------------------------------------------------------------------
    Block - Post Feed
-----------------------------------------------------------------------*/

/* Entry */

.betterbase-theme .entry-post .inner-entry-content {
    padding: 15px 0;
}

.betterbase-theme .entry-post .inner-entry-content > *:not(:last-child) {
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------
    Block - Contact
-----------------------------------------------------------------------*/

.block-contact .entry-contact-detail,
.block-contact .social-icons {
    margin: 30px 0 0 0;
}

/* Entry */

.betterbase-theme .entry-contact-detail .inner-entry-content > *:not(:last-child) {
    margin-bottom: 5px !important;
}

/*-----------------------------------------------------------------------
    Block - Separator
-----------------------------------------------------------------------*/

.block-separator .separator {
    display: block;
    margin: 0;
    width: 100%;
    height: 1px;
    background: var(--block-background-color);
}

.block-editor .block-separator {
    padding: 5px 0;
}
