/*-----------------------------------------------------------------------
    Variables
-----------------------------------------------------------------------*/

:root {
    --font-primary: "Google Sans", sans-serif;

    --border-radius-sm: 4px;
    --border-radius-md: 12px;
    --border-radius-lg: 24px;

    --transition: 0.3s ease;
}

/*-----------------------------------------------------------------------
    TinyMCE
-----------------------------------------------------------------------*/

#tinymce * {
    font-optical-sizing: auto;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-primary);
}

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6,
#tinymce ul,
#tinymce ol,
#tinymce li,
#tinymce p,
#tinymce a {
    padding: 0;
    margin: 20px 0;
    color: var(--black);
    line-height: 1.5;
    font-weight: 400;
}

#tinymce img,
#tinymce hr {
    margin: 40px 0;
}

#tinymce li:not(:last-child) {
    margin: 0 0 4px !important;
}

/* Typography */

#tinymce h1,
#tinymce h1 * {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
}

#tinymce h2,
#tinymce h2 * {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
}

#tinymce h3,
#tinymce h3 * {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
}

#tinymce h4,
#tinymce h4 * {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
}

#tinymce h5,
#tinymce h5 * {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

#tinymce h6,
#tinymce h6 * {
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
}

#tinymce p,
#tinymce li {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 400;
}

#tinymce strong,
#tinymce strong * {
    font-weight: 600 !important;
}

/* Links */

#tinymce a,
#tinymce a:hover,
#tinymce a:focus {
    text-decoration: underline;
}

#tinymce u {
    text-decoration: underline;
}

#tinymce :is(h1, h2, h3, h4, h5, h6) a,
#tinymce :is(h1, h2, h3, h4, h5, h6) a:hover,
#tinymce :is(h1, h2, h3, h4, h5, h6) a:focus {
    text-decoration: none !important;
}

#tinymce a:hover,
#tinymce a:focus {
    color: inherit;
}

/* Lists */

#tinymce ul,
#tinymce ol,
#tinymce li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tinymce li {
    position: relative;
    text-align: left;
    padding: 0 0 0 20px;
}

#tinymce ul > li:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: var(--black);
}

#tinymce ul.list-style-checkmark li {
    padding: 0 0 0 24px;
}

#tinymce ul.list-style-checkmark > li:before {
    top: 4px;
    width: 16px;
    height: 16px;
    background-color: var(--black);
    background-image: none;
    -webkit-mask: url(../img/icon-checkmark.svg) center / 16px no-repeat;
    mask: url(../img/icon-checkmark.svg) center / 16px no-repeat;
}

#tinymce ol {
    counter-reset: item;
    list-style-position: outside;
}

#tinymce ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Blockquote */

#tinymce blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0 20px 20px;
    border-left: 3px solid var(--blue);
}

/* Images */

#tinymce img {
    display: block;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

#tinymce img.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
}

#tinymce img.alignleft {
    float: left;
}

#tinymce img.alignright {
    float: right;
}

#tinymce img.size-full {
    width: 100% !important;
}

/* Misc */

#tinymce code {
    padding: 8px;
    color: var(--white);
    background: var(--black);
}

#tinymce mark {
    background: none;
}

#tinymce hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--black);
}
